#main
{
    position: absolute;
    top: 5em;
    padding-left: 2em;
}

#back
{
    padding-bottom: 1em;
}

#link
{
    font-weight: bold;
    color: black;
}

#skills
{
    list-style-type: none;
    font-size: small;
    text-decoration: underline;
    color: rgb(143, 140, 140);
}